<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/allProduct.css" rel="stylesheet">
    <title>Categoria</title>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>  
    </header>
<div class="catg">
    <h3 class="titulo-catg">Categoria</h3>
</div>
    <h2>Recomendados</h2>

    <%- include ('../partials/slider') %>

    <br>
    <h2>Todos los Títulos</h2>
    <%- include ('../partials/listadeArticulos') %>
    <br>
    <%- include ('../partials/listadeArticulos') %>
    <br>
    <%- include ('../partials/listadeArticulos') %>
    <br>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>
</html>