<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/allProduct.css" rel="stylesheet">
    <link  href="/css/filtros.css" rel="stylesheet">
    <title>Categoria</title>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>  
    </header><br>
    
<h2><%= newCatg[0].Genres[0].name %></h2>

<div class="caja-centrar">
    <section class="caja-resultados">
            <% newCatg.forEach(product => { %>
        <article class="articulo">
            <a href="../product/libro/<%=product.id_product %>">
                 <img class="img-articulo" src="/img/portadas/<%=(product.image !== 0 && product.image !== undefined) ? product.image : 'default-image.png'%>" alt="imagen de producto" alf="Defiant" >
            </a>
            <div class="desc-articulo">
            <a href="../product/libro/<%=product.id_product %>">
                <p class="prodc-titulo"><%= product.title %></p>
            </a>
            <p class="prodc-autor">
                <% for(let i=0; i<product.authors.length; i++){ %>
                    <%=product.authors[0].name %> 
                    <br>
                <% } %>
                </p>
            <!-- <a class="icon-articulo" href="../product/cart" class="carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a> -->
            <% if (locals.isLogged) { %> 
                <a class="icon-articulo" href="../../product/cart/<%= locals.userLogged.id_user %>/<%=product.id_product%>" class="carrito" ><i class="fa-solid fa-cart-shopping"></i></a>
            <% } else { %>
                <a class="icon-articulo" href="/admin/formCarga" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <% } %>


             <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo"><%= product.price %></p></div>
            </div>
        </article>
        <% }) %>
        </section>
        </div>

    <br>
    <h2>Todos los Títulos</h2>

    <div class="caja-centrar">
        <section class="caja-resultados">
                <% products.forEach(product => { %>
            <article class="articulo">
                <a href="../product/libro/<%=product.id_product %>">
                    <img class="img-articulo" src="/img/portadas/<%=(product.image !== 0 && product.image !== undefined) ? product.image : 'default-image.png'%>" alt="imagen de producto" alf="Defiant" href="../product/libro/<%=product.id %>">
                </a>
                <div class="desc-articulo">
                <a href="../product/libro/<%=product.id_product %>"><p class="prodc-titulo"><%= product.title %></p></a>
                <p class="prodc-autor">
                    <% for(let i=0; i < product.authors.length ; i++){ %>
                        <%=product.authors[i].name %> 
                        <br>
                    <% } %>
                    </p>
                <!-- <a class="icon-articulo" href="../product/cart" class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a> -->
                <% if (locals.isLogged) { %> 
                    <a class="icon-articulo" href="../../product/cart/<%= locals.userLogged.id_user %>/<%=product.id_product%>" class="carrito" ><i class="fa-solid fa-cart-shopping"></i></a>
                <% } else { %>
                    <a class="icon-articulo" href="/admin/formCarga" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                <% } %>
                 <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo"><%= product.price %></p></div>
                </div>
            </article>
            <% }) %>
            </section>
            </div>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>
</html>