<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/FormularioDeCarga.css" rel="stylesheet">  
    <title>FormularioDeCarga</title>

</head>
<body>
    
    <header>
        <%- include ('../partials/header') %>
    </header>
    
    <main>
        <div class="FormularioDeCarga">
            
            <div class="Rigth">
                <!--Agregar-->
                <div class="SubTitle">
                    <i class="fa-solid fa-folder-plus"></i>
                    <p>Cargar Libro</p>

                </div>

                <form action="/product/formCarga" method="POST" enctype="multipart/form-data">
                    <div >Título</div>
                    <input type="text" id="titulo" name="titulo" required><br><br>
                    
                    <div>Autor</div>
                    <input type="text" id="autor" name="autor" required><br><br>
                    
                    <div>Detalle del producto</div>
                    <textarea id="detalle" name="detalle" required></textarea><br><br>
                    
                    <div>Género</div>
                    <select id="genero" name="genero" required>
                      <option value="">Seleccione un género</option>
                      <option value="Misterio">Misterio</option>
                      <option value="Romance"> Romance</option>
                      <option value="Aventura">Aventura</option>
                      <option value="Clasicos">Clasicos</option>
                      <option value="Terror">Terror</option>
                      <option value="Fantasia">Fantasia</option>
                    </select><br><br>
    
    
                    <div>Estrellas</div>
                    <select id="Estrellas" name="Estrellas" required>
                      <option value="">Seleccione Estrellas</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select><br><br>
                    
                    
                    <div>Precio</div>
                    <input type="number" id="precio" name="precio" step="0.01" required><br><br>
                    
                    <div>Portada</div>
                    <input type="file" id="portada" name="portada" accept=".jpg, .pnj" required><br><br>
                    
                    <!--como necesito usar el SUBMIT para e,biar el formulario completo no uso el boton lindo 
                    <div class="form-actions">
                        <a class="btn-art" href="/product/crate" >
                            <div>Agregar</div>
                        </a>
                    </div>
                    -->
                    <div class="col-12">
                         <button type="submit" class="buy-now-button">Agregar </button>
                    </div>

                  </form>
            </div>

            <div class="Center">
                <!--Buscador y lista de libros-->

                <div class="SearchBox">
                    <div class="SubTitle">
                        <i class="fa-solid fa-rectangle-list"></i>
                        <p>Lista de libros</p>
    
                    </div>
                    <form class="SearchBox-form" action="/product/search" method="GET">
                        <!--lo al buscar lo manda a la ruta -->
                        <input type="text" placeholder="Buscar por titulo o autor..." name="Buscar" >
                        <div class="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </form>
                </div>

                <div class="IndexList">
                    <div class="SubTitulo">
                        <p>Titulo</p>
                        <p>Tamaño del archivo</p>
                        <p>Fecha</p>
                    </div>

                    <!--Le tengo que poner un for con la logica EJS -->
                    <div class="Productos">
                        <% product.forEach(producto => { %>
                        <div class="Producto">

                            <div class="">
                                    <!--este tendria que cambia el metodo con el que se responde-->
                                    <a href="/product/FormCarga/<%=producto.id%>/edit">Editar</a>
                                   
                            </div>
                            <div class="">
                                <!--anun este JSON no tiene id los elementos-->
                                <a href="/product/libro/<%=producto.id%>">Detalles</a>
                            </div>
                            <!--delte necesita el domulario, para decirle al router, con que metodo responder esta ruta-->
                            <form action="/product/FormCarga/<%=producto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                                <button type="submit" class="action-button delete">ELIMINAR</button>
                            </form>

                            <div>
                                <%= producto.titulo %>
                            </div>
                            <div>
                                Fecha
                            </div>
                            <figure class="product-box_image">
                                <!--la imagen por defecto si funcion-->
                                <img src="/img/portadas/<%=(producto.portada !== 0 && producto.portada !== undefined) ? producto.portada : 'default-image.png'%>" alt="imagen de producto">
                            </figure>
                        </div>
                        <% }); %>

                    </div>


            </div>

            </div>

            <div class="Left">
            <!--Eliminar o modificar-->

            <div class="SubTitle">
                <i class="fa-solid fa-pen-to-square"></i>
                <p>Editar Libro</p>

            </div>
            <form action="/guardar_producto" method="POST">
                <div>Título</div>
                <input type="text" id="titulo" name="titulo" required  ><br><br>
                
                <div>Autor</div>
                <input type="text" id="autor" name="autor" required ><br><br>
                
                <div>Detalle del producto</div>
                <textarea id="detalle" name="detalle" required></textarea><br><br>
                
                <div>Género</div>
                <select id="genero" name="genero" required>
                  <option value="">Seleccione un género</option>
                  <option value="Misterio">Misterio</option>
                  <option value="Romance"> Romance</option>
                  <option value="Aventura">Aventura</option>
                  <option value="Clasicos">Clasicos</option>
                  <option value="Terror">Terror</option>
                  <option value="Fantasia">Fantasia</option>
                </select><br><br>


                <div>Estrellas</div>
                <select id="Estrellas" name="Estrellas" required>
                  <option value="">Seleccione Estrellas</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select><br><br>
                
                
                <div>Precio</div>
                
                <input type="number" id="precio" name="precio" step="0.01" required ><br><br>
                
                <div>Imagen</div>
                <input type="file" id="imagen" name="imagen" accept="image/*" required><br><br>
                
                <div class="form-actions">
                    <a class="btn-art" href="/productDetail">
                        <div> Modificar</div>
                    </a>
    
                    <a class="btn-art" href="/productDetail">
                        <div> Eliminar</div>
                    </a>
                </div>


              </form>
            </div>
        
    </main>


    <footer>
        <%- include ('../partials/footer') %>
    </footer>

   
</body>
</html>