<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/index.css" rel="stylesheet">
    <title>Prisma</title>
 
</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    
    <main>

        <section class="oferta">
            <div class="slider-banner">
                <ul>
                    <li><a href="../product/libro/"><img src="/img/Banners/heartstoppers-banner.png" alt=""></a></li>
                    <li><img src="/img/Banners/percy-jackson-banner.png" alt=""></li>
                    <li><img src="/img/Banners/orgullo-y-prejuicio-banner.png" alt=""></li>
                    <li><img src="/img/Banners/harry-potter-banner.png" alt=""></li>
                </ul>
            </div>
        </section>

        <h2>Novedades</h2>

         <%- include ('../partials/slider') %>
        
        <h2>Categorias</h2>
        <%- include ('../partials/categorias') %>

        
        <h2>Best Sellers</h2>
         <%- include ('../partials/sliderBest') %>
        <br>
       
        <div class="slider-banner">
            <ul>
                <li><img src="/img/Banners/la-hipotesis-del-amor-banner.png" alt=""></li>
                <li><img src="/img/Banners/romper-el-circulo-banner.png" alt=""></li>
                <li><img src="/img/Banners/heartstoppers-banner.png" alt=""></li>
                <li><img src="/img/Banners/harry-potter-banner.png" alt=""></li>
            </ul>
        </div>

    <br>
   
        <h2>Más Vendidos</h2>
         <%- include ('../partials/slider') %>
        <br>


    <h2>Conoce Más</h2>
    <section class="mas-info">
        <img class="img-mas-info" src="/img/Banners/mas-sking.png" alf="S.King">
        <img class="img-mas-oculto" src="/img/Banners/mas-grrMartin.png" alf="GeorgeMartin"> 
        <img class="img-mas-info" src="/img/Banners/mas-harrypotter.png" alf="harrypotter">
        
    </section>


    </main>
    <footer>
        <%- include ('../partials/footer') %>    
    </footer>
</body>
</html>