<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ('../partials/head') %>
    <link  href="/css/productCart.css" rel="stylesheet"> 
    <title>Carrito </title>


</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header> 

    <main>
        

        <!--Como el sub titulo de una columna -->

            <h2>Tu carrito </h2>

        <!--la lista de productos a presentar   producto -->
        <div class="listaProduct">
            <% for(let i=0; i< producto.length; i++){ %>
                
            
            <div class="producto">

                <div class="banner">
                    <a href="../../libro/<%= producto[i].ID_PRODUCT %>">
                        <img class="img-Banner" src="/img/portadas/<%=(producto[i].products.image !== 0 && producto[i].products.image !== undefined) ? producto[i].products.image : 'default-image.png'%>" alt="home banner"></div>
                                            
                    </a>

                <div class="CaracteristicasProduct">
                    <div class="DescripcionProduct">

                        <p class="tlo-autor">Titulo :<%=producto[i].products.title %></p>
                        <br>
                        <!-- Se me complico meter, un include ,dentro de otro include  -->
                            <p class="tlo-autor">Autor : <%=producto[i].products.authors[0].name %></p>
                    </div>

                    
                    <div class="botones">
                        <form class="" action="../../cart/cantidad/<%=producto[i].ID%>/0/<%=producto[i].ID_USER%>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <button  type="submit" class="btn-">                                
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                        </form>
                        <!-- <a class="btn-" href="../../cart/cantidad/<%=producto[i].ID%>/0/<%=producto[i].ID_USER%>">
                            <i class="fa-solid fa-circle-minus"></i>
                        </a> -->
                        <p class="cant"><%=producto[i].cant %></p>
                        <form class="" action="../../cart/cantidad/<%=producto[i].ID%>/1/<%=producto[i].ID_USER%>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <button  type="submit" class="btn-">                                
                                <i class="fa-sharp fa-solid fa-circle-plus"></i>
                            </button>
                        </form>
                        <!-- <a class="btn-" href="../../cart/cantidad/<%=producto[i].ID%>/1/<%=producto[i].ID_USER%>">
                            <i class="fa-sharp fa-solid fa-circle-plus"></i>
                        </a> -->
                        

                        <form action="../../cart/delete/<%=producto[i].ID%>/<%=producto[i].ID_USER%>?_method=DELETE" method="POST" style="display: inline-flex">
                            <button  type="submit" class="btn-trash">                                
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                        <!-- <a class="btn-trash" href="../../cart/delete/<%=producto[i].ID%>/<%=producto[i].ID_USER%>"><i class="fa-solid fa-trash"></i></a> -->
                        
                        <h5><%= precios[i] %></h5>                            
                    </div>
                
                </div>

            </div>
            <% } %>
           
        </div>

        <!--hago el resumen de compra y subgerencias -->
        <div class="mainInferior">


<div class="content-resumen">
            <div class="ResumenCompra">
                <h3>Resumen de compra</h3>
                <div class="subtotal">
                    <p>SubTotal</p>
                    <p> <%=  total %> </p>
                </div>
                
                <div class="envio">
                    <p>Envio</p>
                    <p>  $10,000</p>
                </div>
                
                <div class="Res-total">
                    <p>Total</p>
                    <p>  <%=  totalEnvio %></p>
                </div>
                
                
            </div>

            <div class="Botton-compra">
                <button class="">Pagar</button>
            </div>
        </div>

          

            <div class="mas-art">
                <h2 class="tlo-sug">Más Titulos </h2>

            <section class="list-articulos">
                <% for(let i=0; i< art.length; i++){ %>
                    <article class="articulo">
                        <a href="../../libro/<%= art[i].id_product %>">
                            <img class="img-articulo" src="/img/portadas/<%=art[i].image%>" alf="<%=art[i].title%>"> 
                        </a>
                         
                        <div class="desc-articulo">
                        <form class="" action="../../cart/<%= locals.userLogged.id_user %>/<%=art[i].id_product%>" method="POST" enctype="multipart/form-data">
                            <button  type="submit">
                                <a class="icon-articulo" class="carrito">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </button>
                        </form>
                       
                        <p class="signo-precio-art">$</p><p class="precio-articulo"><%=art[i].price%></p>
                        <!-- <a href="../../product/cart/<%= locals.userLogged.id_user %>/<%=art.id_product%>"><button class="button-art">Descubrir</button></a> -->
                        </div>
                    </article>
                <% } %>
             
            </section>

        </div>
    </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
    
  


</body>
</html>