<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ('../partials/head') %>
    <link  href="/css/productCart.css" rel="stylesheet"> 
    <title>Carrito </title>


</head>
<body>
    <header>
        <%- include ('../partials/header') %>
    </header> 

    <main>
        

        <!--Como el sub titulo de una columna -->

            <h2>Tu carrito </h2>

        <!--la lista de productos a presentar   producto -->
        <div class="listaProduct">
            <% for(let i=0; i< producto.length; i++){ %>
                
            
            <div class="producto">

                <div class="banner">
                    <a href="../../product/libro/<%= producto[i].ID_PRODUCT %>">
                        <img class="img-Banner" src="/img/portadas/<%=(producto[i].products.image !== 0 && producto[i].products.image !== undefined) ? producto[i].products.image : 'default-image.png'%>" alt="home banner"></div>
                                            
                    </a>

                <div class="CaracteristicasProduct">
                    <div class="DescripcionProduct">

                        <p class="tlo-autor">Titulo :<%=producto[i].products.title %></p>
                        <br>
                        <!-- Se me complico meter, un include ,dentro de otro include  -->
                            <p class="tlo-autor">Autor : <%=producto[i].products.authors[0].name %></p>
                    </div>

                    
                    <div class="botones">
                        <a class="btn-" href="../../product/cart/cantidad/<%=producto[i].ID%>/0/<%=producto[i].ID_USER%>"><i class="fa-solid fa-circle-minus"></i></a>
                        <p class="cant"><%=producto[i].cant %></p>
                        <a class="btn-" href="../../product/cart/cantidad/<%=producto[i].ID%>/1/<%=producto[i].ID_USER%>"><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
                        
                        <a class="btn-trash" href="#"><i class="fa-solid fa-trash"></i></a>
                        
                        <h5><%= precios[i] %></h5>                            
                    </div>
                
                </div>

            </div>
            <% } %>
            <!-- <div class="producto">
                <div class="banner">
                    <img class="img-Banner" src="/img/Defiant.jpg" alt="home banner"></div>
                <div class="CaracteristicasProduct">
                    <div class="DescripcionProduct">
                        <p class="tlo-autor">titulo</p>
                        <p class="tlo-autor">-autor</p>
                    </div>

                    
                    <div class="botones">
                        <a class="btn-" href="#"><i class="fa-solid fa-circle-minus"></i></a>
                        <p class="cant">1</p>
                        <a class="btn-" href="#"><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
                        
                        <a class="btn-trash" href="#"><i class="fa-solid fa-trash"></i></a>

                        <h5>$999,999</h5>                            
                    </div>
                
                </div>
            </div> -->
        </div>

        <!--hago el resumen de compra y subgerencias -->
        <div class="mainInferior">


<div class="content-resumen">
            <div class="ResumenCompra">
                <h3>Resumen de compra</h3>
                <div class="subtotal">
                    <p>SubTotal</p>
                    <p> <%=  total %> </p>
                </div>
                
                <div class="envio">
                    <p>Envio</p>
                    <p>  $10,000</p>
                </div>
                
                <div class="Res-total">
                    <p>Total</p>
                    <p>  <%=  totalEnvio %></p>
                </div>
                
                
            </div>

            <div class="Botton-compra">
                <button class="">Pagar</button>
            </div>
        </div>

          <!------  <div class="Content-subgerencias">
                <div class="titulo">
                    <p>Mas Titulos</p>
                </div>
                <div class="SubGerencias">
                    <div class="flechas">
                        <i class="fa fa-caret-left"></i>
                    </div>
                    
                    <article class="articulo">
                        <img class="img-articulo" src="/img/Defiant.jpg" alf="Defiant">  
                        <div class="desc-articulo">
                        <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-bag-shopping"></i></a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#000000}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                        <a href="/productDetail"><input type="button" value="Descubrir" class="btn"></a>
                        </div>
                    </article>
            
                    <article class="articulo">
                        <img class="img-articulo" src="/img/Defiant.jpg" alf="Defiant">  
                        <div class="desc-articulo">
                        <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-bag-shopping"></i></a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                        <a href="/productDetail"><input type="button" value="Descubrir" class="btn"></a>
                        </div>
                    </article>
                    <div  class="flechas">
                        <i class="fa fa-caret-right"></i>
                    </div>
                    
                </div>
            </div> -->

            <div class="mas-art">
                <h2 class="tlo-sug">Más Titulos </h2>

            <section class="list-articulos">
                <article class="articulo">
                    <img class="img-articulo" src="/img/portadas/harry-potter.jpg" alf="Harry Potter 1">  
                    <div class="desc-articulo">
                    <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                    <p class="signo-precio-art">$</p><p class="precio-articulo">12.900,00</p>
                    <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                    </div>
                </article>
    
                <article class="articulo-oculto-1">
                    <img class="img-articulo" src="/img/portadas/los-juegos-del-hambre.jpg" alf="Los Juegos del Hambre">  
                    <div class="desc-articulo">
                    <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                    <p class="signo-precio-art">$</p><p class="precio-articulo">15.769,00</p>
                    <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                    </div>
                </article>
        
                <article class="articulo-oculto-2">
                    <img class="img-articulo" src="/img/portadas/romper-el-circulo.jpg" alf="Romper el circulo">  
                    <div class="desc-articulo">
                    <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                    <p class="signo-precio-art">$</p><p class="precio-articulo">13.650,00</p>
                    <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                    </div>
                </article>
    
                <article class="articulo">
                    <img class="img-articulo" src="/img/portadas/fuego-y-sangre.jpg" alf="Fuego y Sangre">  
                    <div class="desc-articulo">
                    <a class="icon-articulo" href="/productCart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                    <p class="signo-precio-art">$</p><p class="precio-articulo">20.220,00</p>
                    <a href="/productDetail"><button class="button-art">Descubrir</button></a>
                    </div>
                </article>
    
            </section>

        </div>
    </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
    
  


</body>
</html>