<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="\css\productDetail.css">
    <title>Libros</title>
    
</head>
<header>
    <%- include ('../partials/header') %>
</header> 
<body>

    <br>
    <section class="section1">
        <article class="ocultar_2">
            <div>
            <h2 class="det-art-cont-titulo"><%= producto.title %> <%=producto.subtitle %></h2>
            <h2 class="det-art-subtitulo"> 
                <% for(let i=0; i<producto.authors.length; i++){ %>
                    --<%=producto.authors[i].name %> 
                <% } %>
            </h2>
            <div class="det-art-cont-estrellas "><i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
            </div>

            <% if (locals.isLogged && locals.userLogged.id_rol === 1) { %>
		    <a href="../../admin/formCarga/<%=producto.id_product%>/edit" class="det-art-btn-edit-a">
                <button class="det-art-btn-edit">Editar</button>
            </a>
                <% } %>
            
        </article>
        <div class="cont_img1">
            <img class="det-art-img_1" src="/img/portadas/<%=(producto.image !== 0 && producto.image !== undefined) ? producto.image : 'default-image.png'%>" alt="lugar de la imagen del producto">
        </div>


        <article class="det-art-conte-desc">
            <p class="det-art-texto"><%= producto.description %></p>
        </article>

        

        <article class="det-art-detalles-precio">
            <div class="det-art-info">
                    <p class="det-art-info-item">Genero : 
                        <% for(let i=0; i<producto.Genres.length; i++){ %>
                            --<%=producto.Genres[i].name %> 
                        <% } %>
                    </p>
                    <p class="det-art-info-item">Editorial : <%= producto.Editorials.name %></p>
                    <p class="det-art-info-item">Cantidad de Paginas : <%= producto.pages %></p>
                    <p class="det-art-info-item">Idioma : <%= producto.Languages.name %></p>
                    <p class="det-art-info-item">Año de edicion : <%= producto.created %></p>
                    <p class="det-art-info-item">Formato :<%= producto.Supports.name %></p>
                    <p class="det-art-info-item">Etiqueta : <%= producto.Collections.name %></p>
            </div>
            <% for(let i=0; i<producto.Genres.length; i++){ %>
                --<%=producto.Genres[i].name %> 
            <% } %>
            
            <div class="det-art-precio-btn">
            <div class="det-art-precio-sig"><p class="det-art-signo-precio">$</p><p class="det-art-precio"><%=producto.price%></p></div>

            <a class="det-art-agr-btn" href="../product/cart">
           
            <div class="det-art-agr-btn-text">Agregar</div>
            <div class="det-art-btn-cart"><i class="fa-solid fa-cart-shopping"></i></i></div> 
    
            </a>
            </div>
    </article>

    </section>
    <br>
    
    <h2>Titulos relacionados</h2>

    <%- include ('../partials/slider') %>

    <h2> Sobre el Autor</h2>

    <section class="section3">
        <div class="det-aut-autor">
            <article class="det-aut-descrip">
                <h4 class="det-aut-nombre">"fata relacionar el con la tabla autor"</h4>
                <p class="det-aut-desc-autor">Alice May Oseman (Chatham, Kent; 16 de octubre de 1994)1​ es una escritora, guionista e ilustradora británica de literatura juvenil. Es principalmente conocida por su novela gráfica Heartstopper. Ha sido elogiada por la crítica especializada y ha recibido diversos premios como los Inky Awards y United By Pop Awards.</p>
            </article>
            <div class="det-aut-conte-img">
            <img class="det-aut-img" src="\img\alice-oseman.jpg" alt="">
            </div>
        </div>
        
    </section>

    <h2>Comentarios</h2>

 
        <div class="coment-sliders">
            <div class="coment-lista">
                <%- include ('../partials/coment') %>
                <%- include ('../partials/coment') %>
                <%- include ('../partials/coment') %>
                <%- include ('../partials/coment') %>
                <%- include ('../partials/coment') %>
                <%- include ('../partials/coment') %>
                <%- include ('../partials/coment') %>
            </div>
        </div>

  

    <h2>Deja tu comentario</h2>

    <section class="section5">
        <div class="det-dejacomen">
        <article class="det-dejacomen-conte">
            <div class="det-dejacomen-conte-star">
                <i class="fa-solid fa-star estrella"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                Califica el Libro
            </div>
        </article>
           
          <div class="cont_deja_comentario">
            <form >
                <textarea  name="message" rows="4"  class="coment">
                
                </textarea>
              </form>
            </div>
        </div>

    </section><br>
    <h2>Vista Previa</h2>

    <section class="section6">
        <div class="det-vist-conte">
        <article class="det-vist-img">
            <div class="det-vist-conte-img">
            <p>Heartstopper Volumen 5</p>
            </div>
        </article>

        <article class="det-vist-flechas">
            <i class="fa-solid fa-chevron-up"></i>
            <i class="fa-solid fa-chevron-down"></i>
        </article>
        </div>
    </section><br>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>
    
</body>
</html>