<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/allProduct.css" rel="stylesheet">
    <link  href="/css/filtros.css" rel="stylesheet">
    <title>Categoria</title>
</head>
<body>
    <header>
        <%- include ('../partials/header') %>  
    </header><br>

<h2>Resultados</h2>

<div class="caja-centrar">
    <section class="caja-resultados">
            <% productResult.forEach(product => { %>
        <article class="articulo">
            <a href="../product/libro/<%=product.id %>"><img class="img-articulo" src="/img/portadas/<%=(product.image !== 0 && product.image !== undefined) ? product.image : 'default-image.png'%>" alt="imagen de producto" alf="Defiant"> </a>
            <div class="desc-articulo">
            <a href="../product/libro/<%=product.id %>"><p class="prodc-titulo"><%= product.title %></p></a>
            <p class="prodc-autor"><%= product.author %></p>
            <a class="icon-articulo" href="../product/cart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
             <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo"><%= product.price %></p></div>
            </div>
        </article>
        <% }) %>
        </section>
        </div>

    <br>
    <h2>Todos los Títulos</h2>

    <div class="caja-centrar">
        <section class="caja-resultados">
                <% products.forEach(product => { %>
            <article class="articulo">
                <a href="../product/libro/<%=product.id %>"><img class="img-articulo" src="/img/portadas/<%=(product.image !== 0 && product.image !== undefined) ? product.image : 'default-image.png'%>" alt="imagen de producto" alf="Defiant"> </a>
                <div class="desc-articulo">
                <a href="../product/libro/<%=product.id %>"><p class="prodc-titulo"><%= product.title %></p></a>
                <p class="prodc-autor"><%= product.author %></p>
                <a class="icon-articulo" href="../product/cart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
                 <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo"><%= product.price%></p></div>
                </div>
            </article>
            <% }) %>
            </section>
            </div>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>
</html>