<% product.forEach(producto => { %>
<article class="articulo">
    <a href="../../product/libro/<%=producto.id%>"><img class="img-articulo" src="/img/portadas/<%=(producto.portada !== 0 && producto.portada !== undefined) ? producto.portada : 'default-image.png'%>" alf="<%=producto.titulo%>"> </a> 
    <div class="desc-articulo">
    <a href="../../product/libro/<%=producto.id%>"><p class="prodc-titulo"><%=producto.title%></p></a>
    <p class="prodc-autor"><%=producto.author%></p>
    <div class="iconPrecioArt">
    <a class="icon-articulo" href="../../product/cart" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
    <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo"><%=producto.price%></p></div></div>
    </div>
</article>
<% }); %>    


         
