<% product.forEach(producto => { %>
<article class="articulo">
    <a href="../../product/libro/<%=producto.id_product%>"><img class="img-articulo" src="/img/portadas/<%=(producto.image !== 0 && producto.image !== undefined) ? producto.image : 'default-image.png'%>" alf="<%=producto.titulo%>"> </a> 
    <div class="desc-articulo">
    <a href="../../product/libro/<%=producto.id_product%>"><p class="prodc-titulo"><%=producto.title%></p></a>
    <a class="prodc-autor-a" href="../../product/autor/<%=producto.authors[0].id_author %>"> <p class="prodc-autor"><%=producto.authors[0].name%></p></a>
    <div class="iconPrecioArt">

        <!-- al boton le tendria que agregar para pasar los datos a la tabla de carrito de compras  -->

        <% if (locals.isLogged) { %> 
            <a class="icon-articulo" href="../../product/cart/<%= locals.userLogged.id_user %>/<%=producto.id_product%>" class="carrito" ><i class="fa-solid fa-cart-shopping"></i></a>
        <% } else { %>
            <a class="icon-articulo" href="/admin/formCarga" class="carrito"><i class="fa-solid fa-cart-shopping"></i></i></a>
        <% } %>
    
    <div class="precio-sig"><p class="signo-precio-art">$</p><p class="precio-articulo"><%=producto.price%></p></div></div>
    </div>
</article>
<% }); %>    


         
