<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/FormularioDeCarga.css" rel="stylesheet">  
    <script src="/js/cargaEditValidation.js"></script>  
    <title>FormularioDeCarga</title>

</head>
<body>
    
    <header>
        <%- include ('../partials/header') %>
    </header>
    
    <main>
        <div class="formularioDeCarga">

            <div class="conte-carga-edicion">
                <div  class="conte-titulo-form-carga">
                <div class="titulo-icon-form-carga">
                <div class="icon-form-carga"><i class="fa-solid fa-pen-to-square"></i></i></div>

                <div class="titulo-form-carga">Editar Libro</div>
                </div>

                <a class="icon-form-carga-flecha" href="/admin/formCarga"><i class="fa-solid fa-chevron-right"></a></i>

                </div>

            <!--Eliminar o modificar  productToEdit-->

           
                <form class="form-carga-ediccion" action="/admin/<%= productToEdit.id_product%>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="celda">
                        <div class="datos-text-form">Título</div>
                        <input class="input-text" type="text" id="titulo" name="titulo" value="<%= productToEdit.title %>" >
                           <% if (locals.errors && errors.titulo) { %>
                        <span class="error-message">
                                <%= errors.titulo.msg %>
                            </span>
                        <% } %>
                    <br><br>
                    </div>
                 

                    <div  class="celda">
                        <div class="datos-text-form">Subtítulo</div>
                        <input class="input-text" type="text" id="subtitulo" name="subtitulo" value="<%= productToEdit.subtitle %>">
                        </div><br><br>
    
                    <div  class="celda">
                        <div  class="datos-text-form">Autor</div>
                        <select class="input-text" id="Autor" name="Autor" >
                            <option value="<%= productToEdit.authors[0].id_author %>"><%= productToEdit.authors[0].name %></option>
                                <% authors.forEach(autor => { %>
                                    <option value="<%= autor.id_author%>"><%= autor.name%></option>              
                                <% }) %>
                        </select>
                    </div><br><br>


                    <div  class="celda">
                        <div  class="datos-text-form">Editorial</div>
                        <select class="input-text" id="edition" name="edition" >
                            <option value="<%= productToEdit.Editorials.id_editorial %>"><%= productToEdit.Editorials.name %></option>
                            <% editorials.forEach(editorial => { %>
                                <option value="<%= editorial.id_editorial%>"><%= editorial.name%></option>              
                            <% }) %>
                        </select>
                    </div><br><br>


                        <div  class="celda">
                            <div  class="datos-text-form">Saga/Serie</div>
                            <select class="input-text" id="sagaSerie" name="sagaSerie" >
                                <option value="<%= productToEdit.Collections.id_collection %>"><%= productToEdit.Collections.name %></option>
                                <% collections.forEach(coleccion => { %>
                                    <option value="<%= coleccion.id_collection%>"><%= coleccion.name%></option>              
                                <% }) %>
                            </select>
                        </div><br><br>
    
                        <div  class="celda">
                            <div  class="datos-text-form">Género</div>
                            <select class="input-text" id="genero" name="genero" >
                                <option value="<%= productToEdit.Genres[0].id_genre %>"><%= productToEdit.Genres[0].name %></option>
                                <% genres.forEach(genero => { %>
                                    <option value="<%= genero.id_genre%>"><%= genero.name%></option>              
                                <% }) %>
                            </select>

                        </div><br><br>
    
                       
                       
                        <div class="celda">
                            <div class="datos-text-form">Formato</div>
                            <select class="input-text" name="formato" id="formato" >
                                <option value="">Selecciona un Formato</option>
                                <option value="1" <%= productToEdit.Supports.name === 'Físico' ? "selected" : "" %> >Físico</option>
                                <option value="2" <%= productToEdit.Supports.name === 'Electronico' ? "selected" : "" %> >Electronico</option>
                                <!-- <option value="3" <%= productToEdit.Supports.name === 'AudioLibro' ? "selected" : "" %> >AudioLibro</option> -->
                            </select>
                        </div>
                        <br><br>
                        



    
                        <div  class="celda">
                        <div class="datos-text-form">Precio</div>
                        <input class="input-text" type="text" id="precio" name="precio" step="0.01"  value="<%= productToEdit.price %>">
                        </div><br><br>
                        <div  class="celda">
                            <div class="datos-text-form">Descuento</div>
                            <input class="input-text" type="text" id="Descuento" name="Descuento" step="0.01"   value="<%= productToEdit.discount %>">
                            <% if (locals.errors && errors.Descuento) { %>
                                <div class="error-message">
                                    <%= errors.Descuento.msg %>
                                </div>
                            <% } %>
                        </div><br><br>
                        <div  class="celda">
                            <div class="datos-text-form">Stock</div>
                            <input class="input-text" type="text" id="Stock" name="Stock" step="0.01"   value="<%= productToEdit.stock %>">
                            <% if (locals.errors && errors.Stock) { %>
                                <div class="error-message">
                                    <%= errors.Stock.msg %>
                                </div>
                            <% } %>
                        </div><br><br>
    
                        <div  class="celda">
                            <div class="datos-text-form">Portada</div>
                            <input  class="input-text"  type="file" id="portada" name="portada" accept=".jpg, .jpeg, .png, .gif" >
                            <% if (locals.errors && errors.portada) { %>
                                <div class="error-message">
                                    <%= errors.portada.msg %>
                                </div>
                            <% } %>
                        </div><br><br>
    
    
                        <div  class="celda">
                            <div class="datos-text-form">Descripción</div>
                            <textarea class="input-text" id="detalle" name="descripcion" ><%= productToEdit.description %></textarea>
                            <% if (locals.errors && errors.descripcion) { %>
                                <div class="error-message">
                                    <%= errors.descripcion.msg %>
                                </div>
                            <% } %>
                        </div><br><br>
    
                        <div  class="celda">
                        <div class="datos-text-form">Idioma</div>
                        <select class="input-text" name="idioma" id="idioma">
                            <option value="">Selecciona un Idioma</option>
                            <option value="1"  <%= productToEdit.Languages.name === 'Español' ? "selected" : ""  %> >Español</option>
                            <option value="2" <%= productToEdit.Languages.name === 'Ingles' ? "selected" : ""  %>  >Ingles</option>
                        </select>
                        </div><br><br>
        
                        <div  class="celda">
                            <div class="datos-text-form">Paginas</div>
                            <input class="input-text" type="number" name="paginas" id="paginas"  value="<%= productToEdit.pages%>">
                            <% if (locals.errors && errors.paginas) { %>
                                <div class="error-message">
                                    <%= errors.paginas.msg %>
                                </div>
                            <% } %>
                        </div><br><br>
    
                        <div  class="celda">
                            <div class="datos-text-form">Año de Edición</div>
                            <input class="input-text" type="text" name="anoEdicion" id="añoEdicion"  value="<%= productToEdit.edition %>">
                            <% if (locals.errors && errors.anoEdicion) { %>
                                <div class="error-message">
                                    <%= errors.anoEdicion.msg %>
                                </div>
                            <% } %>
                        </div><br><br>
    
                        <div  class="celda-btn">
                            <button class="btn-form" type="submit">Agregar</button>
                        </div>


              </form>
            </div>

        </div>
        
    </main>


    <footer>
        <%- include ('../partials/footer') %>
    </footer>

   
</body>
</html>