<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/FormularioDeCarga.css" rel="stylesheet">  
    <title>FormularioDeCarga</title>

</head>
<body>
    
    <header>
        <%- include ('../partials/header') %>
    </header>
    
    <main>
        <div class="FormularioDeCarga">
            

            <div class="Center">
                <!--Buscador y lista de libros-->

                <div class="SearchBox">

                    <div  class="conte-titulo-form-carga">
                        <div class="titulo-icon-form-carga">
                        <div class="icon-form-carga"><i class="fa-solid fa-rectangle-list"></i>
                        </div>
        
                        <div class="titulo-form-carga">Lista de Libros</div>
                        </div>
            

                    <div>
                        <!--manada a la vista de carga de libros -->
                        <form class="SearchBox-form" action="/admin/formCargaLibro" method="GET">
                             <button class="icon-carga-producto" submit>
                                <i class="fa-solid fa-folder-plus"></i>
                            </button>
                        </form>

                    </div>
                    </div>

                   
                        <form class="lista-libros-busq" action="/admin/search" method="GET">
                            <!--lo al buscar lo manda a la ruta -->
                            <input class="input-text-busq" type="text" placeholder="Buscar por titulo o autor..." name="search" >
                            <button submit="" class="button-busq">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                

                </div>


                <div class="IndexList">
                    <div class="SubTitulo">
                        <p>Titulo</p>

                    </div>

                    <!--Le tengo que poner un for con la logica EJS -->
                    <div class="Productos">
                        <% product.forEach(producto => { %>
                        <div class="Producto">

                            <div class="editar-detalle-delete">
                            <div>
                                    <!--este tendria que cambia el metodo con el que se responde-->
                                    <a class="editar-detalle" href="/admin/FormCarga/<%=producto.id%>/edit">Editar</a>
                                   
                            </div>
                            <div >
                                <!--anun este JSON no tiene id los elementos-->
                                <a class="editar-detalle" href="../product/libro/<%=producto.id%>">Detalles</a>
                            </div>
                            <!--delte necesita el domulario, para decirle al router, con que metodo responder esta ruta-->
                            <form action="/admin/FormCarga/<%=producto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                                <button type="submit" class="action-button"><i class="fa-solid fa-trash"></i></button>
                            </form>
                            </div>

                            <div class="titulo-autor-producto">
                            <div class="titulo-producto">
                                <%= producto.titulo %>
                            </div>
                            <div class="autor-producto">
                                <%= producto.autor %>
                            </div>
                           </div>

                            <figure class="product-box_image">
                                <!--la imagen por defecto si funcion-->
                                <img src="/img/portadas/<%=(producto.portada !== 0 && producto.portada !== undefined) ? producto.portada : 'default-image.png'%>" alt="imagen de producto">
                            </figure>
                        </div>
                        <% }); %>

                    </div>


            </div>

            </div>

        
    </main>


    <footer>
        <%- include ('../partials/footer') %>
    </footer>

   
</body>
</html>