<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/FormularioDeCarga.css" rel="stylesheet">  
    <title>FormularioDeCarga</title>

</head>
<body>
    
    <header>
        <%- include ('../partials/header') %>
    </header>
    
    <main>
        <div class="FormularioDeCarga">
            

            <div class="Center">
                <!--Buscador y lista de libros-->

                <div class="SearchBox">
                    <div class="SubTitle">
                        <i class="fa-solid fa-rectangle-list"></i>
                        <p>Lista de libros</p>

                    </div>
                    <div class="">
                        <!--manada a la vista de carga de libros -->
                        <form class="SearchBox-form" action="/admin/formCargaLibro" method="GET">
                             <button class="button" submit>
                                <i class="fa-solid fa-folder-plus"></i>
                            </button>
                        </form>

                        <form class="SearchBox-form" action="/admin/search" method="GET">
                            <!--lo al buscar lo manda a la ruta -->
                            <input type="text" placeholder="Buscar por titulo o autor..." name="Buscar" >
                            <button submit="" class="button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>

                </div>


                <div class="IndexList">
                    <div class="SubTitulo">
                        <p>Titulo</p>
                        <p>Tamaño del archivo</p>
                        <p>Fecha</p>
                    </div>

                    <!--Le tengo que poner un for con la logica EJS -->
                    <div class="Productos">
                        <% product.forEach(producto => { %>
                        <div class="Producto">

                            <div class="">
                                    <!--este tendria que cambia el metodo con el que se responde-->
                                    <a href="/admin/FormCarga/<%=producto.id%>/edit">Editar</a>
                                   
                            </div>
                            <div class="">
                                <!--anun este JSON no tiene id los elementos-->
                                <a href="../product/libro/<%=producto.id%>">Detalles</a>
                            </div>
                            <!--delte necesita el domulario, para decirle al router, con que metodo responder esta ruta-->
                            <form action="/admin/FormCarga/<%=producto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                                <button type="submit" class="action-button delete">ELIMINAR</button>
                            </form>

                            <div>
                                <%= producto.titulo %>
                            </div>
                            <div>
                                Fecha
                            </div>
                            <figure class="product-box_image">
                                <!--la imagen por defecto si funcion-->
                                <img src="/img/portadas/<%=(producto.portada !== 0 && producto.portada !== undefined) ? producto.portada : 'default-image.png'%>" alt="imagen de producto">
                            </figure>
                        </div>
                        <% }); %>

                    </div>


            </div>

            </div>

        
    </main>


    <footer>
        <%- include ('../partials/footer') %>
    </footer>

   
</body>
</html>