<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/FormularioDeCarga.css" rel="stylesheet">  
    <script src="/js/cargaEditValidation.js"></script>  
    <title>FormularioDeCarga</title>

</head>
<body>
    
    <header>
        <%- include ('../partials/header') %>
    </header>
    
    <main>
        <div class="formularioDeCarga">
            
            <div class="conte-carga-edicion">
                <!--Agregar-->
                <div  class="conte-titulo-form-carga">
                <div class="titulo-icon-form-carga">
                <div class="icon-form-carga"><i class="fa-solid fa-folder-plus"></i></div>

                <div class="titulo-form-carga">Cargar Libro</div>
                </div>

                <a class="icon-form-carga-flecha" href="./formCarga"><i class="fa-solid fa-chevron-right"></a></i>

            

                <form class="form-carga-ediccion" action="/admin/formCarga" method="POST" enctype="multipart/form-data">

                    <div class="celda">
                        <div class="datos-text-form">Título</div>
                        <input class="input-text" type="text" id="titulo" name="title"  value="<%= locals.oldData ? oldData.title : null %>" >
                        <br>
                        <% if (locals.errors && errors.title) { %>
                            <div class="error-message">
                                <%= errors.title.msg %>
                            </div>
                        <% } %>
                    </div><br><br>

                    <div  class="celda">
                        <div class="datos-text-form">Subtítulo</div>
                        <input class="input-text" type="text" id="subtitulo" name="subtitle" value="<%= locals.oldData ? oldData.subtitle : null %>">
                    </div><br><br>

                    <div  class="celda">
                        <!-- <div class="datos-text-form">Autor</div>
                        <input class="input-text" type="text" id="autor" name="autor" required> -->

                        <div  class="datos-text-form">Autor</div>
                        <select class="input-text" id="Autor" name="Autor" >
                        <option value="">Seleccione un Autor</option>
                            <% authors.forEach(autor => { %>
                                <option value="<%= autor.id_author%>"><%= autor.name%></option>              
                            <% }) %>
                        </select>
                    </div><br><br>

                    <!-- <div  class="celda">
                        <div class="datos-text-form">Editorial</div>
                        <input class="input-text" type="text" id="editorial" name="edition" required>
                    </div><br><br> -->
                    <div  class="celda">
                        <div  class="datos-text-form">Editorial</div>
                        <select class="input-text" id="edition" name="edition" >
                        <option value="">Seleccione una editorial</option>
                        <% editorials.forEach(editorial => { %>
                            <option value="<%= editorial.id_editorial%>"><%= editorial.name%></option>              
                        <% }) %>
                        </select>
                    </div><br><br>



                    <div  class="celda">
                        <div  class="datos-text-form">Saga/Serie</div>
                        <select class="input-text" id="sagaSerie" name="sagaSerie" >
                        <option value="">Seleccione un saga/Serie</option>
                        <% collections.forEach(coleccion => { %>
                            <option value="<%= coleccion.id_collection%>"><%= coleccion.name%></option>              
                        <% }) %>
                        </select>
                    </div><br><br>

                    <div  class="celda">
                        <div  class="datos-text-form">Género</div>
                        <select class="input-text" id="genero" name="genero" >
                        <option value="">Seleccione un género</option>
                        <% genres.forEach(genero => { %>
                            <option value="<%= genero.id_genre%>"><%= genero.name%></option>              
                        <% }) %>
                        </select>
                    </div><br><br>

                    <div  class="celda">
                    <div  class="datos-text-form">Formato</div>
                    <select class="input-text" name="formato" id="formato" >
                        <option value="">Selecciona un Formato</option>
                        <option value="1">Fisico</option>
                        <option value="2">Ebook</option>
                        <option value="3">AudioLibro</option>
                    </select>
                    </div><br><br>

                    <div  class="celda">
                    <div class="datos-text-form">Precio</div>
                    <input class="input-text" type="number" id="precio" name="precio" step="0.01" value="<%= locals.oldData ? oldData.precio : null %>">
                    </div><br><br>
                    <div  class="celda">
                        <div class="datos-text-form">Descuento</div>
                        <input class="input-text" type="number" id="Descuento" name="Descuento" step="0.01" value="<%= locals.oldData ? oldData.Descuento : null %>">
                    </div><br><br>

                    <div  class="celda">
                        <div class="datos-text-form">Stock</div>
                        <input class="input-text" type="number" id="Stock" name="Stock" step="0.01" value="<%= locals.oldData ? oldData.Stock : null %>">
                    </div><br><br>


                    <div  class="celda">
                   <div class="datos-text-form">Portada</div>
                    <input  class="input-text"  type="file" id="portada" name="portada" accept=".jpg, .jpng, .gif, .png" >
                    </div><br><br>


                    <div  class="celda">
                        <div class="datos-text-form">Descripción</div>
                        <textarea class="input-text" id="descripcion" name="descripcion"><%= locals.oldData ? locals.oldData.descripcion : "" %></textarea>

                        <% if (locals.errors && errors.descripcion) { %>
                            <div class="error-message">
                                <%= errors.descripcion.msg %>
                            </div>
                        <% } %>
                    </div><br><br>
                    <% if (locals.errors && errors.detalle) { %>
                        <span class="error-message">
                                <%= errors.detalle.msg %>
                            </span>
                        <% } %>

                    <div  class="celda">
                    <div class="datos-text-form">Idioma</div>
                    <select class="input-text" name="idioma" id="idioma">
                        <option value="">Selecciona un Idioma</option>
                        <option value="1">Español</option>
                        <option value="2">Frances</option>
                        <!-- <option value="ingles">Ingles</option> -->
                    </select>
                    </div><br><br>
    
                    <div  class="celda">
                    <div class="datos-text-form">Paginas</div>
                    <input class="input-text" type="number" name="paginas" id="paginas" value="<%= locals.oldData ? oldData.paginas: null %>">
                    </div><br><br>

                    <div  class="celda">
                    <div class="datos-text-form">Año de Edición</div>
                    <input class="input-text" type="number" name="año_edicion" id="añoEdicion" >
                    </div><br><br>

                    
    
                   
                    <div  class="celda-btn">
                        <button class="btn-form" type="submit">Agregar</button>
                    </div>
       

                  </form>
           
             </div>

            
        </div>
            
        
    </main>


    <footer>
        <%- include ('../partials/footer') %>
    </footer>

   
</body>
</html>