<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
    
    <title>Iniciar sesión en Libros Prisma</title>

</head>
<body>
<header>
    <%- include ('../partials/header') %>
</header>
    <main>
    <div class="form-caja">
    <form action="login" id="form" method="post" class="formulario">
        <h1>INICIAR SESION</h1>
        <div class="contenedor">

            <div class="input-contenedor" id="contEmail">
                        <i class="fa-regular fa-envelope icon"></i>
                        <input class="input-txt email" type="text" name="email" placeholder="Ingrese un e-mail o Usuario" value="<%= locals.oldData ? oldData.email : null %>" >
            </div>

            
                    <div class="error-message oculto" id="4"></div>

                    <% if (locals.errors && errors.email) { %>
                        <div class="error-message " id="emailErrorBase">
                             <%= errors.email.msg %>
                        </div>
                    <% } %>    
             
            
                    <div class="input-contenedor" id="contPassword">
                    <i class="fa-solid fa-key icon"></i>
                    <input class="input-txt password" type="password" name="password" placeholder="Ingrese una contraseña" value="<%= locals.oldData ? oldData.password : null %>" >
                </div>

                <div class="error-message oculto" id="5"></div>

                <% if (locals.errors && errors.password) { %>
                    <div class="error-message errorPassword" id="passwordErrorBase">
                        <%= errors.password.msg %>
                    </div>
                <% } %> 
                <br>
            <label>
                
            <input class="check" type="checkbox" name="remember_user" value="remember"> Recordarme </label>
            <p><a type="link" href="/register" class="link">Olvidé mi contraseña</a></p>
            <input type="submit" value="Ingresar" class="button" id="btn-login">
            <br>
            <p>¿No tienes una cuenta? <a type="link" href="register" class="link">Regístrate.</a></p>
        </div>
    </form>
    </div>

</main>


<footer>
    <%- include ('../partials/footer') %>

</footer>
<script src="/js/loginValidation.js"></script>  
 
</body>