<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    
    <link rel="stylesheet" href="\css\login.css">
    <title>Register</title>
</head>

<body>
    <header>
    <%- include ('../partials/header') %>
    </header>

    <main>

        <div class="form-caja">
            <form action="/user/register" method="post" class="formulario" enctype="multipart/form-data">
                <h1>REGISTRO</h1>
                <div class="contenedor">
                   
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt " type="text" name="nombre" placeholder="Ingrese su Nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                    </div>

                    <% if (locals.errors && errors.nombre) { %>
                        <div class="error-message">
                             <%= errors.nombre.msg %>
                        </div>
                    <% } %>

                    <div class="input-contenedor"> 
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt" type="text" name="apellido" placeholder="Ingrese su Apellido" value="<%= locals.oldData ? oldData.apellido : null %>" >
                    </div>

                    <% if (locals.errors && errors.apellido) { %>
                        <div class="error-message">
                             <%= errors.apellido.msg %>
                        </div>
                    <% } %>

                    

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt" type="text" name="usuario" placeholder="Ingrese un Usuario" value="<%= locals.oldData ? oldData.usuario : null %>" >
                    </div>

                    <% if (locals.errors && errors.usuario) { %>
                        <div class="error-message">
                             <%= errors.usuario.msg %>
                        </div>
                    <% } %>

                    <div class="input-contenedor">
                        <i class="fa-regular fa-envelope icon"></i>
                        <input class="input-txt" type="email" name="email" placeholder="Ingrese un e-mail" value="<%= locals.oldData ? oldData.email : null %>" >
                    </div>

                    <% if (locals.errors && errors.email) { %>
                        <div class="error-message">
                             <%= errors.email.msg %>
                        </div>
                    <% } %>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-key icon"></i>
                        <input class="input-txt" type="password" name="password" placeholder="Ingrese una contraseña" value="<%= locals.oldData ? oldData.nombre : null %>">
                        
                    </div>

                   <!--  <div class="input-contenedor"> -->
                   <!--      <i class="fa-solid fa-key icon"></i> -->
                   <!--      <input class="input-txt" type="password" name="confirmar-password" placeholder="Confirmar contraseña" > -->
                   <!--  </div> -->
                    
                    
                    <div class="input-contenedor-imagen">
                        <input  class="input-text"  type="file" id="portada" name="img-user" accept=".jpg, .png" >
                    </div>
                    
                    <label>
                    <input class="check" type="checkbox" name="remember" value="remember"> Recordarme </label>
                    <br>
                    <p><a type="link" href="login" class="link">Ya tengo una cuenta</a></p>
            
                    <input type="submit" value="Registrarme" class="button">
                    <br>
                    
                </div>
            </form>
            </div>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>
