<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    
    <link rel="stylesheet" href="\css\login.css">
    <title>Register</title>
</head>

<body>
    <header>
    <%- include ('../partials/header') %>
    </header>

    <main>

        <div class="form-caja">
            <form action="/user/register" method="post" class="formulario" enctype="multipart/form-data">
                <h1>REGISTRO</h1>
                <div class="contenedor">



                   <label for="">Nombre</label>
                    <div class="
                   <% if (locals.errors && errors.nombre) { %>
                        error
                        <% } else { %>
                        
                           input-contenedor
                        <% } %> " id="contNombre">
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt name" type="text" name="nombre" placeholder="Ingrese su Nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                    </div>

                    <div class="error-message oculto" id="1"></div>

                    <% if (locals.errors && errors.nombre) { %>
                        <div class="error-message errorNombre" id="nombreErrorBase">
                             <%= errors.nombre.msg %>
                        </div>
                    <% } %>





                    <label for="">Apellido</label>
                    <div class="
                    <% if (locals.errors && errors.apellido) { %>
                         error
                         <% } else { %>
                         
                            input-contenedor
                         <% } %> " id="contApeliido">
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt apellido" type="text" name="apellido" placeholder="Ingrese su Apellido" value="<%= locals.oldData ? oldData.apellido : null %>" >
                    </div>

                    <div class="error-message oculto" id="2"></div>

                    <% if (locals.errors && errors.apellido) { %>
                        <div class="error-message errorApellido" id="apellidoErrorBase">
                             <%= errors.apellido.msg %>
                        </div>
                    <% } %>




                    
                    <label for="">Usuario</label>
                    <div class="
                    <% if (locals.errors && errors.usuario) { %>
                         error
                         <% } else { %>
                         
                            input-contenedor
                         <% } %> " id="contUsuario">
                        <i class="fa-solid fa-user icon" style="color: #838486;"></i>
                        <input class="input-txt usuario" type="text" name="usuario" placeholder="Ingrese un Usuario" value="<%= locals.oldData ? oldData.usuario : null %>" >
                    </div>

                    <div class="error-message oculto" id="3"></div>

                    <% if (locals.errors && errors.usuario) { %>
                        <div class="error-message  " id="usuarioErrorBase">
                             <%= errors.usuario.msg %>
                        </div>
                    <% } %>




                    <Label>Email</Label>
                    <div class="
                    <% if (locals.errors && errors.email) { %>
                         error
                         <% } else { %>
                         
                            input-contenedor
                         <% } %> " id="contEmail">
                        <i class="fa-regular fa-envelope icon"></i>
                        <input class="input-txt email" type="text" name="email" placeholder="Ingrese un e-mail" value="<%= locals.oldData ? oldData.email : null %>" >
                    </div>

                    <div class="error-message oculto" id="4"></div>

                    <% if (locals.errors && errors.email) { %>
                        <div class="error-message " id="emailErrorBase">
                             <%= errors.email.msg %>
                        </div>
                    <% } %>




                    <label for="">Contrase単a</label>
                    <div class="
                        <% if (locals.errors && errors.password) { %>
                            error
                        <% } else { %>
                            input-contenedor
                        <% } %> " id="contPassword">
                        <i class="fa-solid fa-key icon"></i>
                        <input class="input-txt password" type="password" name="password" placeholder="Ingrese una contrase単a" value="<%= locals.oldData ? oldData.password : null %>" >
                    </div>

                    <div class="error-message oculto" id="5"></div>

                    <% if (locals.errors && errors.password) { %>
                        <div class="error-message errorPassword" id="passwordErrorBase">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>




                    <label for="">Confirmar Contrase単a</label>
                    <div class="
    <% if (locals.errors && errors.confirmPassword) { %>
        error
    <% } else { %>
        input-contenedor
    <% } %> " id="contConfirmPassword">
    <i class="fa-solid fa-key icon"></i>
    <input class="input-txt confirmPassword" type="password" name="confirmPassword" placeholder="Confirmar contrase単a" >
</div>

<div class="error-message oculto" id="6"></div>

<% if (locals.errors && errors.confirmPassword) { %>
    <div class="error-message errorConfirmPassword" id="confirmPasswordErrorBase">
        <%= errors.confirmPassword.msg %>
    </div>
<% } %>

                   
                   <label for="">Foto Perfil</label> 
                    <div class="input-contenedor">
                        <input  class="input-text" type="file"  name="imgUser"  >
                    </div>
                    
                    
                    <% if (locals.errors && errors.imgUser) { %>
                        <div class="error-message">
                             <%= errors.imgUser.msg %>
                        </div>
                    <% } %>
                    
                    
                    <p><a type="link" href="login" class="link">Ya tengo una cuenta</a></p>
            
                    <button type="submit"  class="button">Registrarme</button>

                    <div class="error-message oculto" id="register"></div>
                    <br>
                    
                </div>
            </form>
            </div>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>
    <script src="/js/register.js" ></script>
</body>

</html>
