<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/userList.css">
    <title>Iniciar sesión en Libros Prisma</title>
    
</head>
<body>
<header>
    <%- include ('../partials/header') %>
</header>
    <main><br>

        
   <section class="cont-search">
    <div class="Search-users">
        <H2>lista de Usuarios</H2>

        <form class="barra-busqueda-header" action="/admin/searchUser" method="GET">
                <input class="input-header" type="text" placeholder="Buscar" name="search">
                <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                
        </form>

   </section>
   <br>

   <ul>
        <% for(let i=0;i<userResults.length;i++) { %>
        <li>
            <img src="/img/users/<%= userResults[i].imagen %>" alt="" width="200" height="150">

            <section class="UserData">
            <p>Nombre: <%= userResults[i].nombre %></p>
            <p>Apellido: <%= userResults[i].apellido %></p>
            <p>Correo : <%= userResults[i].email %></p>
            <p>Categoria : <%= userResults[i].categoria %></p>
            </section>
            <br>

        </li>
        <% } %>
   </ul>
   

</main>


<footer>
    <%- include ('../partials/footer') %>

</footer>

</body>