<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link  href="/css/FormularioDeCarga.css" rel="stylesheet">  
    <title>FormularioDeCarga</title>

</head>
<body>
    
    <header>
        <%- include ('../partials/header') %>
    </header>
    
    <main>
        <div class="formularioDeCarga">

            <div class="conte-carga-edicion">
                <div  class="conte-titulo-form-carga">
                <div class="titulo-icon-form-carga">
                <div class="icon-form-carga"><i class="fa-solid fa-pen-to-square"></i></i></div>

                <div class="titulo-form-carga">Editar Libro</div>
                </div>

                <a class="icon-form-carga-flecha" href="/admin/formCarga"><i class="fa-solid fa-chevron-right"></a></i>

                </div>

            <!--Eliminar o modificar  productToEdit-->

           
                <form class="form-carga-ediccion" action="/admin/<%= userToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="celda">
                        <div class="datos-text-form">Título</div>
                        <input class="input-text" type="text" id="titulo" name="titulo" value="<%= userToEdit.nombre %>" required>
                    </div><br><br>

                    <div  class="celda">
                        <div class="datos-text-form">Subtítulo</div>
                        <input class="input-text" type="text" id="subtitulo" name="subtitulo" value="<%= userToEdit.apellido %>">
                        </div><br><br>
    
                    <div  class="celda">
                        <div class="datos-text-form">Autor</div>
                        <input class="input-text" type="text" id="autor" name="autor" required value="<%= userToEdit.email %>">
                    </div><br><br>
    
                    
    
                        <div  class="celda">
                        <div class="datos-text-form">Saga/Serie</div>
                        <input class="input-text" type="text" id="sagaSerie" name="sagaSerie" value="<%= productToEdit.sagaSerie %>">
                        </div><br><br>
    
                        